@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .content__container {
    @apply mx-auto max-w-sm p-4 bg-slate-300
  }

  .nav__container {
    @apply mx-auto size-full flex items-center justify-between bg-slate-200 p-2
  }

  .nav__container-dark {
    @apply mx-auto size-full flex items-center justify-between bg-slate-800 p-2
  }

  .nav__logo {
    @apply flex justify-end gap-4 text-sm p-4 text-slate-300
  }

  .nav__links {
    @apply flex justify-end items-center gap-4 text-sm
  }

  .nav__link {
    @apply  text-slate-300 p-2
  }

  .link__active {
    @apply bg-slate-300 text-slate-800 rounded-md p-2
  }

  .form__container {
    @apply flex flex-col
  }

  .label {
    @apply uppercase text-sm
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
