@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .content__container {
    @apply mx-auto max-w-sm p-4 bg-slate-300 dark:bg-[#181C14] dark:text-[#ECDFCC]
  }

  .nav__container {
    @apply mx-auto w-full flex items-center justify-between bg-lime-100 dark:bg-[#3F4F44] dark:text-[#DCD7C9] px-1 z-20 h-14
  }

  .nav__container-dark {
    @apply mx-auto w-full flex items-center justify-between bg-slate-800 p-1
  }

  .nav__logo {
    @apply flex justify-end gap-4 text-sm p-4 text-slate-300
  }

  .nav__links {
    @apply flex justify-end items-center gap-4 
  }

  .nav__icon {
    @apply p-2 text-2xl
  }

  .nav__icon--center {
    @apply !text-5xl !p-2 absolute left-1/2 transform -translate-x-1/2 bottom-3
    rounded-full
  }
  
  .link__active {
    @apply bg-yellow-300 text-slate-800 p-2 rounded-full
  }

  .avatar__btn {
    @apply text-5xl mr-2
  }

  .avatar__img {
    @apply rounded-full
  }

  .form__container {
    @apply flex flex-col
  }

  .label {
    @apply uppercase text-sm
  }
}
  .user__menu {
    @apply bg-slate-400 dark:bg-[#3C3D37] dark:text-slate-50 absolute top-14 right-0 flex flex-col z-10 p-2
  }


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
