@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {

  .content__container {
    @apply px-6 py-20 bg-[#FEFAE0] dark:bg-[#3C3D37] dark:text-[#DCD7C9] tracking-wide text-sm/7 leading-7 text-justify min-h-svh
  }

  .nav__container {
    @apply mx-auto w-full flex items-center justify-between px-1 z-20 h-14 
    bg-[#A4B465] text-[#FEFAE0] dark:bg-[#181C14] dark:text-[#DCD7C9]
    border-b border-[#626F47] dark:border-[#A27B5C] shadow-md
  }

  .nav__logo {
    @apply flex justify-end gap-4 text-sm p-4 text-slate-300
  }

  .nav__links {
    @apply flex justify-end items-center gap-4 
  }

  .nav__icon {
    @apply p-2 text-2xl
  }

  .nav__icon--center {
    @apply !text-5xl !p-2 absolute left-1/2 transform -translate-x-1/2 bottom-3
    rounded-full
  }
  
  .link__active {
    @apply bg-[#FFCF50] text-slate-800 p-2 rounded-full
  }

  .avatar__btn {
    @apply text-5xl mr-2 border-2 rounded-full border-[#FFCF50]
  }

  .avatar__img {
    @apply rounded-full
  }

  .form__container {
    @apply flex flex-col
  }

  .label {
    @apply uppercase text-sm
  }
}
  .user__menu {
    @apply absolute top-14 right-0 flex flex-col z-10 p-1 shadow-md 
    font-medium bg-[#A4B465] dark:bg-[#181C14] text-[#FEFAE0] dark:text-[#DCD7C9] 
  }


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
